@page {
  /* margin: 100mm; */
  /* margin-top: 1cm; */
}

@page :first {
  /* margin-top: 0 !important; */
}

/* .promotion {
  display: none;
} */

.shop-header {
  /* padding-top: 50px; */
}

.col-md-6,
.col-lg-4 {
  /* page-break-inside: avoid; */
  /* page-break-before: always; */
  /* page-break-after: always; */
}

.single-product:first-child,
/* .single-product:nth-child(2),
.single-product:nth-child(3) {
  margin-top: 0px;
  margin-bottom: 50px;
} */

.single-product {
  /* page-break-before: auto; */
  /* page-break-after: always; */
  /* page-break-inside: avoid; 
  position: static;
  overflow: visible; */
  /* margin-bottom: 0;
  margin-top: 0; */
  /* break-inside: avoid; */
  /* display: none; */
  page-break-inside: avoid;
  /* break-inside: avoid-page; */
  /* margin-bottom: 50px !important; */
  /* float: none; */
  /* margin-top: 100px;
  margin-bottom: 250px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
.single-product {
  page-break-inside: avoid;
}

.single-product:first-child,
.single-product:nth-child(2),
.single-product:nth-child(3) {
  margin-top: 0px;
  /* margin-bottom: 50px; */
}

/* .single-product:nth-child(-n+4) {
  margin-top: 100px !important;
  margin-bottom: 250px !important; 
} */

/* .col-md-6:first-child,
.col-md-6:nth-child(2),
.col-md-6:nth-child(3) {
  margin-top: 0px;
  margin-bottom: 50px;
} */

/* .single-product:nth-child(3) {
  margin-top: 50px;
  margin-bottom: 50px;
} */