:root {
  --main-green-color: #009E0F;
  --gray-text-color: #787878;
  --white-color: #FFFFFF;
  --gray-border-color: #d3d3d3;
  --text-black-color: #222222;
  --brand-name-color: #809db9;
  --facebook-color: #3b5999;
  --instagram-color: #ef2145;
  --youtube-color: #cb2026;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy"), url(../fonts/Gilroy-Light.otf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: local("Gilroy"), url(../fonts/Gilroy-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: local("Gilroy"), url(../fonts/Gilroy-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: local("Gilroy"), url(../fonts/Gilroy-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: local("Gilroy"), url(../fonts/Gilroy-Bold.otf) format("opentype");
}

/* START CSS RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::focus,
*::active {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
}

.promotion {
  background-color: var(--main-green-color);
  padding: 8px 30px;
  margin-bottom: 20px;
}

.promotion h6 {
  color: var(--white-color);
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.promotion h6 span {
  font-size: 24px;
  margin: auto 10px;
}

/* SHOP HEADER */
.shop-header {
  margin-bottom: 30px;
}

.shop-header .about-shop {
  display: flex;
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 15px;
}

.shop-header .about-shop .shop-logo {
  margin-right: 30px;
}

.shop-header .about-shop .shop-logo img {
  border-radius: 15px;
  height: 170px;
}

.shop-header .about-shop .shop-information h3 {
  font-weight: 600;
}

.shop-header .about-shop .shop-information p {
  color: rgb(185, 185, 185);
}

.shop-header .about-shop .shop-information .shop-perks .single-perk {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.shop-header .about-shop .shop-information .shop-perks .single-perk i {
  font-size: 26px;
  margin-right: 8px;
}

.shop-header .shop-contact-menu {
  list-style: none;
  margin: 0;
  padding: 20px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 15px;
  height: 100%;
}

.shop-header .shop-contact-menu li {
  margin-bottom: 20px;
}

.shop-header .shop-contact-menu li:last-child {
  margin-bottom: 0;
}

.shop-header .shop-contact-menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.shop-header .shop-contact-menu li i {
  font-size: 24px;
  margin-right: 6px;
}
/* END SHOP HEADER */

/* PRODUCT ITEM */
.product-item {
  border-radius: 10px;
  border: 1px solid var(--gray-border-color);
  overflow: hidden;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.product-item-image {
  display: flex;
}

.product-item-image img {
  width: 85%;
  height: 280px;
  border-radius: 10px;
}

.product-item-image .product-item-link {
  list-style: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.product-item-image .product-item-link li {
  margin-bottom: 14px;
}

.product-item-image .product-item-link li a {
  font-size: 28px;
  text-decoration: none;
  color: var(--text-black-color);
}

.product-item-information {
  margin-top: 10px;
  padding: 10px 20px;
}

.product-item-information .product-item-details {
  margin-right: 15px;
}

.product-item-information .brand-name {
  color: var(--brand-name-color);
  font-size: 14px;
  font-weight: 500;
}

.product-item-information .price {
  display: flex;
  align-items: baseline;
}

.product-item-information .product-name {
  color: var(--text-black-color);
  font-weight: 700;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-item-information .product-name a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.product-item-information .price .new-price {
  color: var(--main-green-color);
  font-weight: 600;
  font-size: 24px;
  margin-right: 10px;
}

.product-item-information .price .old-price {
  text-decoration: line-through;
  color: var(--gray-text-color);
  font-weight: 500;
}

.product-item-information .product-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--gray-text-color);
}

.product-item-qrcode img {
  height: 110px;
  width: 280px;
  flex-shrink: 0;
  margin-top: 30px;
}

/* FOOTER SECTION */
.footer {
  border-top: 1px solid var(--gray-border-color);
  padding: 20px 10px 10px;
}

.footer .footer-copyright p {
  color: var(--gray-text-color);
  font-weight: 500;
}

.footer .footer-social-media li {
  margin-right: 10px
}

.footer .footer-social-media li a {
  outline: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: normal;
}

.footer .footer-social-media li a i {
  line-height: 42px;
}

.footer .footer-social-media li a.facebook {
  background-color: var(--facebook-color);
}

.footer .footer-social-media li a.instagram {
  background-color: var(--instagram-color);
}

.footer .footer-social-media li a.youtube {
  background-color: var(--youtube-color);
}

/* MEDIA QUERIES */
@media (min-width:500px) and (max-width: 768px) {
  .product-item-qrcode img {
    width: 170px;
  }
}

@media screen and (max-width: 460px) {
  .shop-header .about-shop {
    padding: 0;
    border: none;
  }

  .shop-header .about-shop .shop-logo {
    margin-right: 15px;
  }
  
  .shop-header .about-shop .shop-logo img {
    border-radius: 15px;
    height: 140px;
    width: 140px;
  }

  .shop-header .about-shop .shop-information h3 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0;
  }
  
  .shop-header .about-shop .shop-information p {
    font-size: 14px;
  }

  .shop-header .about-shop .shop-information .shop-perks .single-perk span {
    font-size: 14px;
  }
  
  .shop-header .about-shop .shop-information .shop-perks .single-perk i {
    font-size: 20px;
    line-height: normal;
  }

  .product-item-information {
    padding: 10px;
  }
}